/* ESTILOS GENERALES */
:root {
  /* Gray scale */
  --black: #000000;
  --text: #343A40;
  --white: #FFF;
  /* Foundations */
  --primary: #204398;
  --secondary: #C11374;
  --secondary-light: #DF3C97;
  --accent: #AC6024;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--text);
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.font-btn {
  font-family: 'Merriweather', serif;
}

main {
  background-color: lavender;
  min-height: 100vh;
}

.render-img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

/* Buttons */
.btn {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  padding: .75rem 1.5rem;
  border-radius: 0;
}

.btn-large {
  padding-left: 3rem;
  padding-right: 3rem;
}

.primary-btn {
  background-color: var(--secondary);
  color: var(--white);
}

.primary-btn:hover {
  background-color: var(--secondary-light);
  color: var(--white);
}

.primary-btn:focus {
  color: #fff;
  background-color: var(--secondary);
  border-color: var(--secondary-ligth);
  box-shadow: 0 0 0 0.25rem rgba(193, 19, 116, 0.4);
  outline: none;
}
/* End buttons */

/* FIN ESTILOS GENERALES */

/* Header */

.bg-header {
  background-image:
  url("../img/banner/bg-flowers.png"),
  linear-gradient(to top right, #c4c4c4 , white 30%);
  background-position: top left, bottom left;
  background-repeat: no-repeat;
  background-size: auto;
}

.header-top {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem 0;
}

.header-top-img {
  /* background-color: salmon; */
  min-height: 6.25rem;
  min-width: 6.25rem;
  max-height: 6.25rem;
  max-width: 6.25rem;
  margin-right: 2rem;
}

.header-top-text h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
}

.header-bottom {
  /* background-color: lightyellow; */
  padding-top: .5rem;
  padding-bottom: 3.5rem;
}

.header-bottom-img {
  /* background-color: lightblue; */
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header-bottom-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-bottom p {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 0;
}

.header-bottom-img p {
  position: absolute;
  top: -.5rem;
  left: -3rem;
}

.header-bottom-text p {
  text-align: center;
}

/* Fin header */

/* Product section */
.wrap-section-brands {
  background-color: var(--primary);
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.bg-row-products {
  background-color: lavender;
}

.brand-card {
  background-color: greenyellow;
  margin-bottom: 3rem;
}

.brand-card-top {
  background-color: var(--primary);
}

.brand-card-top .tag-brand {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-card-top .tag-brand img {
  min-height: 2.5rem;
  max-height: 2.5rem;
}

.brand-card-top-product  {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.brand-card-bottom {
  /* background-color: var(--white); */
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* End product section */

/* Footer */

footer {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  display: flex;
}

.footer-logo {
  /* background: pink; */
  margin-right: 2rem;
}

.footer-text {
  font-size: 1.25rem;
}

.footer-text-title {
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-contact-list {
  /* background-color: yellow; */
  list-style: none;
  padding-left: 0;
}

.footer-contact-list p {
  font-weight: 600;
  margin-bottom: .5rem;
}

.footer-contact-list li {
  /* background-color: pink; */
  display: flex;
  align-items: center;
}

.footer-contact-list li span {
  margin-right: .5rem;
}

/* end footer */
