/* Large devices (laptops, less than 1400px) */
@media (max-width: 1400px) {
  main {
    /* background-color: pink; */
  }
}

/* Large devices (desktops, tablets landscape, less than 1200px) */
@media (max-width: 1199.98px) {
  main {
    /* background-color: lavender; */
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  main {
    /* background-color: salmon; */
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  main {
    /* background-color: lightblue; */
  }
}


@media (max-width: 575.98px) {
  main {
    /* background-color: lightyellow; */
  }

  /* Header */
  .header-top {
    /* ackground-color: pink; */
    padding: 1.5rem 0 .5rem 0;
  }

  .header-top-img {
    /* background-color: salmon; */
    min-height: 6rem;
    min-width: 6rem;
    max-height: 6rem;
    max-width: 6rem;
    margin-right: 1rem;
  }

  .header-bottom-img p {
    left: 0;
  }

  /* End Header */

  /* Footer */
  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .footer-text-title {
    text-align: center;
  }
  /* End footer */
}
