/* ESTILOS GENERALES */
:root {
  /* Gray scale */
  --black: #000000;
  --text: #343A40;
  --white: #FFF;
  /* Foundations */
  --primary: #204398;
  --secondary: #C11374;
  --secondary-light: #DF3C97;
  --accent: #AC6024;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--text);
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.font-btn {
  font-family: 'Merriweather', serif;
}

main {
  /* background-color: lavender; */
  min-height: 100vh;
}

.render-img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

/* Buttons */
.btn {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  padding: .75rem 1.5rem;
  border-radius: 0;
}

.btn-large {
  padding-left: 3rem;
  padding-right: 3rem;
}

.primary-btn {
  background-color: var(--secondary);
  color: var(--white);
}

.primary-btn:hover {
  background-color: var(--secondary-light);
  color: var(--white);
}

.primary-btn:focus {
  color: #fff;
  background-color: var(--secondary);
  border-color: var(--secondary-ligth);
  box-shadow: 0 0 0 0.25rem rgba(193, 19, 116, 0.4);
  outline: none;
}
/* End buttons */

/* FIN ESTILOS GENERALES */


/* Product section */

.card-brand {
  background-color: var(--primaryr);
}

.align-left {
  margin-right: auto;
}

.align-right {
  margin-left: auto;
}

.card-brand-img {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 22rem;
}

.card-brand-img img {
  min-height: 2.5rem;
  max-height: 2.5rem;
}

.content-img-card {
  background-color: lavender;
  width: 22rem;
}

.content-img-card img {
  display: block;
  margin: auto;
}

.card-footer {
  background-color: var(--white);
}

.card-text {
  width: 22rem;
  text-align: center;
  padding: 1rem 1rem .5rem 1rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 2;
  height: calc(1em * 1.2 * 2);
}

.content-btn-card {
  width: 22rem;
  display: flex;
  justify-content: center;
}


/* End product section */
